.App {
  text-align: center;
  background: radial-gradient(ellipse at top, #000000, transparent),
            radial-gradient(ellipse at bottom, #555555, transparent), url('./assets/galaxy.png');;

}


.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}